<!doctype html>
<head>
    <title>Menu</title>
    <!-- set ipad viewport scaling -->
    <meta name="viewport" content="width=device-width">
    <!-- enable ipad / iphone fullscreen app -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="css/style.css">
    <script xxsrc="http://162.13.1.186:3080/socket.io/socket.io.js"></script>
    <script src="js/jquery-1.9.0.js"></script>
    <script src="js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="js/taphold.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-ui.min.js"></script>
    <style type="text/css">
        html {
            background-image: url('img/whiteballs.jpg');
        }
        article {
            background-image: url('img/wood.jpg');
            color: white;
        }
        li {
            cursor: pointer;
        }
        .placeholder {
            border: 2px solid white;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        .ui-sortable-helper {
            background-color: rgba(255,255,255,0.5);
        }
    </style>
</head>
<body ng-app="menu" ng-controller="MenuCtrl">
    <div>
        <article id="front">
            <h1>Evolutie Kerstdiner</h1>
            <h2>2016-2017</h2>
            <aside id="logo">
            </aside>
        </article>
        <article id="back">
            <h1>Menu</h1>
            <p>Te nuttigen in willekeurige volgorde:</p>
            <section ng-cloak>
                <ul ng-show="editing">
                    <li ng-repeat="gang in menu">
                        <input type="text" ng-model="gang.name"> <span ng-click="remRow($index)">x</span>
                    </li>
                </ul>
                <ul ui-sortable="{placeholder:'placeholder',axis:'y',stop:onUpdate}" ng-model="menu" ng-hide="editing">
                    <li ng-repeat="gang in menu">
                        {{gang.name}}
                    </li>
                </ul>
                <div class="control" ng-show="editing">
                    <button ng-click="stopEdit()">Ok</button>
                    <button ng-click="newRow()">+</button>
                </div>
            </section>
        </article>
    </div>
    <script>
        angular.module('menu', ['ui']);
        // var socket = io.connect('http://162.13.1.186:3080/');

        function MenuCtrl($scope) {
            $scope.menu = [
                {name: 'Koud vis'},
                {name: 'Soep'},
                {name: 'Salade met druiven, kaas en chirps'},
                {name: 'Spoom'},
                {name: 'Zalm van een plankje'},
                {name: 'Hoofd vlees'},
                {name: 'Toet'},
                {name: 'Qxks'}
            ];

            // socket.on('update', function (data) {
            //     console.log(data);
            //     $scope.menu = data;
            //     $scope.$apply();
            // });

            $scope.onUpdate = function() {
                console.log(arguments);
                $scope.$apply();
                console.log($scope.menu);
                // socket.emit('update',$scope.menu);
            }

            $scope.stopEdit = function() {
                $scope.editing = false;
                // socket.emit('update',$scope.menu);
            };
            $scope.newRow = function() {
                $scope.menu.push({name:''});
            };

            $scope.remRow = function(i) {
                $scope.menu.splice(i,1);
                // socket.emit('update',$scope.menu);
            }

            $("aside").on("taphold", function() {
                $scope.editing = true;
                $scope.$apply();
            });
        }

    </script>
</body>